@page 
@model ZealandPetShop.Pages.Login.UpdateUserModel
@{
}

<h2>Opdater Profil</h2>

<form method="post">
    <div class="form-group">
        <label for="FirstName">Navn</label>
        <input asp-for="@Model.EUser.FirstName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="LastName">Efternavn</label>
        <input asp-for="@Model.EUser.LastName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Email">Email Adresse</label>
        <input asp-for="@Model.EUser.Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Telefon</label>
        <input asp-for="@Model.EUser.Phone" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Address">Adress</label>
        <input asp-for="@Model.EUser.Address" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="PasswordHash">Nyt Kodeord</label>
        <input type="password" asp-for="@Model.EUser.Password" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Opdater</button>
    </div>
</form>
