@page
@model ZealandPetShop.Pages.Item.GetAllDogsModel
@{
}

<!-- En side designet til at vise produkter specifikt for hunde. -->
<br />
<h1 class="product-title"><b>Hunde Produkter</b></h1>
<br />
<br />

<!-- Søgeformular -->
<div class="funktion-i-item">
    <form method="post" class="search-form">
        <div class="input-group mb-3">
            <!-- Inputfelt til at søge efter produkter -->
            <input asp-for="SearchString" class="form-control search-input"
                   placeholder="Søg på produkt" />
            <!-- Knappen til at udføre søgningen -->
            <input type="submit" asp-page-handler="Search"
                   value="Search" class="btn btn-primary search-button" />
        </div>
    </form>

    <br />

    <!-- Dropdown-menu til sortering af produkter efter pris -->
    <div class="dropdown">
        <button class="dropbtn">Sortér</button>
        <div class="dropdown-content">
            <!-- Valgmulighed for at sortere produkter efter pris stigende -->
            <a data-toggle="tooltip" title="Sort By Price" asp-page-handler="SortByPrice"><h5>Billigeste Først</h5></a>
            <!-- Valgmulighed for at sortere produkter efter pris faldende -->
            <a data-toggle="tooltip" title="Sort By Descending Price" asp-page-handler="SortByPriceDescending"><h5>Dyreste Først</h5></a>
        </div>
    </div>
</div>

<!-- Container til at vise produkter -->
<div class="product-container">
    <!-- Iteration gennem hvert produkt i modelens "Items", der tilhører kategorien "Hund" -->
    @foreach (var item in Model.Items.Where(x => x.Art == Models.Shop.Item.DyreArt.Hund))
    {
        <!-- Produktkort til hvert produkt -->
        <div class="product-card">
            <div class="product-box">
                <!-- Billede af produktet -->
                <div class="image-item">
                    <img src="@item.ImagePath" alt="@item.Id" class="image-image">
                </div>
                <!-- Navn og pris på produktet -->
                <h2>@item.Name</h2>
                <p>@item.Price,-</p>
                <!-- Formular til at tilføje produktet til kurven -->
                <form method="post" asp-page-handler="AddToCart" asp-route-id="@item.Id">
                    <button type="submit" class="addCart"><b>Tilføj til Kurv</b></button>
                </form>
                <!-- Knappen til at se yderligere information om produktet -->
                <a asp-page="ItemDetail" asp-route-id="@item.Id">
                    <button type="submit" class="detail-info"><b>Se info</b></button>
                </a>
            </div>
        </div>
    }
</div>