@page
@model ZealandPetShop.Pages.Item.GetAllItemsModel
@{
}

<br />
<h1 class="product-title"><b>Alle Produkter</b></h1>
<br />
<br />
<p>xx produkter</p>
<br />


<div class="product-container">
    @foreach (var item in Model.Items)
    {
        <div class="product-card">
            <div class="product-box">
                <div class="image-item">
                    <img src="@item.ImagePath" alt="@item.Id" class="image-image">
                </div>
                <h2>@item.Name</h2>
                <p>@item.Description</p>
                <p>@item.Price,-</p>
                <form method="post" asp-page-handler="AddToCart" asp-route-id="@item.Id">
                    <button type="submit" class="addCart"><b>Tilføj til Kurv</b></button>
                </form>
                <form method="post" asp-page-handler="SeeDetails" asp-route-id="@item.Id">
                    <button type="submit" class="detail-info"><b>Se info</b></button>
                </form>

            </div>
        </div>
    }
</div>