@page "{Id:int}"
@model ZealandPetShop.Pages.Item.ItemDetailModel
@{
}


<body>
    <div class="product-container-detail">
        <div class="card">
            <div class="image-item-detail-container">
                <img src="@Model.Item.ImagePath" alt="@Model.Item.Id" class="image-image-detail">
            </div>
            <div class="card-body">
                <h2 class="card-title"><b>@Model.Item.Name</b></h2>
                <h3 class="card-price">@Model.Item.Price,-</h3>
                <form method="post" asp-page-handler="AddToCart" asp-route-id="@Model.Item.Id">
                    <button type="submit" class="addCart-detail"><b>Tilføj til Kurv</b></button>
                </form>
                <form method="post" asp-page-handler="BuyNow" asp-route-id="@Model.Item.Id">
                    <button type="submit" class="buyNow-detail"><b>Køb Nu</b></button>
                </form>
                <br />

                <form method="post" asp-page-handler="AddToCart" asp-route-id="@Model.Item.Id">
                    <label for="itemQuantity">Select Quantity:</label> 
                    <br />
                    <input type="number" id="itemQuantity" name="itemQuantity" min="1" value="1">
                    <span asp-validation-for="Count" class="text-danger"></span>
                </form>
                <br />

                <h6>Produkt beskrivelse:</h6>
                <p>@Model.Item.Description</p>
            </div>
        </div>
    </div>
    <div class="knapper">
        <a class="btn btn-danger btn-sm slet-knap" type="button" title="Delete"
           asp-page="DeleteItem" asp-route-id="@Model.Item.Id"><b>Slet</b></a>
        <a class="btn btn-danger btn-sm edit-knap" type="button" title="Edit"
           asp-page="UpdateItem" asp-route-id="@Model.Item.Id"><b>Opdater</b></a>
    </div>
</body>
