@page
@model ZealandPetShop.Pages.Item.UpdateItemModel
@using ZealandPetShop.Models.Shop
@{
}

<br />
<h2 class="text-center mb-5">Optader produktet!</h2>


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.Item.Name" class="control-label">Navn på produktet:</label>
        <input asp-for="@Model.Item.Name" class="form-control" />
        <span asp-validation-for="@Model.Item.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Item.Art" class="control-label">Kategori:</label>
        <select asp-for="Item.Art" asp-items="Html.GetEnumSelectList<Item.DyreArt>()">
            <option selected="selected" value="" disabled>Vælg</option>
        </select>
        <span asp-validation-for="@Model.Item.Art" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Item.Description" class="control-label">Beskrivelse af produktet:</label>
        <textarea asp-for="@Model.Item.Description" class="form-control" rows="2"></textarea>
        <span asp-validation-for="@Model.Item.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Item.Price" class="control-label">Pris på produktet:</label>
        <input asp-for="@Model.Item.Price" class="form-control" />
        <span asp-validation-for="@Model.Item.Price" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Photo" class="control-label">Billede af produktet:</label>
        <div class="custom-file">
            <input asp-for="@Model.Photo" class="custom-file-input form-control" />
            <label class="custom-file-label">Gem Billede</label>

        </div>
    </div>



    <input asp-for="@Model.Item.Id" type="hidden" />

	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>

</form>
